

body{
  width: 100%;
  height:auto;
  margin: auto;
  padding: 100px 0px 0px 0px;
}

table:first-child{
background-color: blue;
  color:white;
  margin-right: 1%;
}

table:nth-child(2n){
  color:white;
}

table{
  width:100%;
  float:center;
}

iframe{
   position: absolute;
   right: 6;
   bottom: 0;
}
footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   font-weight:bold;
   font-size:16px;
   color: white;
   text-align: center;
}