

body{
  width: 70%;
  height:auto;
  margin: auto;
  padding: 100px 0px 0px 0px;
}

table:first-child{
background-color: blue;
  color:white;
  margin-right: 1%;
}

table:nth-child(2n){
  color:white;
}

table{
  width:100%;
  float:center;
}

iframe{
   position: absolute;
   right: 0;
   bottom: 0;
   width:100%;
}
footer {
   position: fixed;
   left: -250;
   bottom: 0;
   width: 100%;
   font-weight:bold;
   font-size:14px;
   color: white;
   text-align: center;
}


	#header {
		background-color: #98FB98;
		background-attachment: scroll,								fixed;
		background-position: top left,							top left;
		background-repeat: repeat,								no-repeat;
		background-size: auto,								auto 100%;
		color: rgba(255, 255, 255, 0.5);
		height: 100%;
		right: 0;
		position: fixed;
		text-align: right;
		top: 0;
		width: 20%;
	}

		#header strong, #header b {
			color: #ffffff;
		}

		#header h2, #header h3, #header h4, #header h5, #header h6 {
			color: #ffffff;
		}

		#header h1 {
			color: rgba(255, 255, 255, 0.5);
			font-size: 1.35em;
			line-height: 1.75em;
			margin: 0;
		}

		#header .image.avatar {
			margin: 0 0 1em 0;
			width: 6.25em;
		}